<h1>Listing videos</h1>

<table>
  <tr>
    <th>Video Name</th>
    <th>Video Url</th>
    <th>Show Widget</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.name %></td>
    <td><%= video.url %></td>
    <td><%= link_to 'Show Widget', widget_path(video.widget.id) %></d>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Video', new_video_path %>
