<p>
  <b>Name:</b>
  <%=h @video.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @video.url %>
</p>

<p>
  <b>Widget:</b>
  <%=h @video.widget %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>