<h1>Listing widgets</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Code</th>
  </tr>

<% @widgets.each do |widget| %>
  <tr>
    <td><%=h widget.url %></td>
    <td><%=h widget.code %></td>
    <td><%= link_to 'Show', widget %></td>
    <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
    <td><%= link_to 'Destroy', widget, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New widget', new_widget_path %>