<h1>Listing widgets</h1>

<%= button_to 'Create New Widget', new_widget_path, :method => 'get'%>

<table>
<% @widgets.each do |widget| %>
  <tr>
    <td><h3><%= link_to widget.name, widget %></h3></td>
  </tr>
  <tr>
    <td><%= widget.url %></td>
  </tr>
  <tr>
    <td>
      Copy and paste the following where you want your UNSWTV viewer to appear.<br />
      <%= text_field "widget_id", widget.id, "value" => widget.code, :size => 80%>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'Show', widget %>
      <%= link_to 'Edit', edit_widget_path(widget) %>
      <%= link_to 'Destroy', widget, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<h4><%= link_to 'Create New Widget', new_widget_path %></h4>

