<p>
  <b>Name:</b>
  <%= @widget.name %>
</p>

<p>
  <b>Url:</b>
  <%= @widget.url %>
</p>

<p>
  <b>Code:</b>
  <%= @widget.code %>
</p>


<%= link_to 'Preview Widget', preview_widget_widget_path(:id => @widget.id),  :remote => true %>
<!-- <%= button_to 'Preview Widget', preview_widget_widget_path(:id => @widget.id), :remote => true, :method => 'get' %> -->
<div id='preview_widget'></div>
<!-- used for testing partial without ajax <%= render 'widget' %> -->

<br/><br/>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>


