<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @widget.url %>
</p>

<p>
  <b>Code:</b>
  <%= @widget.code %>
</p>


<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
