<p>
  <b>Url:</b>
  <%=h @widget.url %>
</p>

<p>
  <b>Code:</b>
  <%=h @widget.code %>
</p>

<h3>List of videos:</h3>
<%= render :partial => 'video', :collection => @widget.videos %>


<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
